{% extends "layout.html" %}

{% block file %}login-register{% endblock %}

{% block title %}
    Fahdjud Project
{% endblock %}

{% block main %}
<div class="video-background">
    <video autoplay loop muted>
        <source src="{{ url_for('static', filename='images/login-background.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="container login-container mt-5 mb-5">
    <div class="card login-card mb-3 mx-auto">
        <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form action="{{ url_for('register_template') }}" method="POST" class="text-center justify-content-center py-3 needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
                    <label for="floatingInput">Username</label>
                    <div class="invalid-feedback">
                        Please enter your username.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" required>
                    <label for="floatingEmail">Email address</label>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                    <div class="invalid-feedback">
                        Please enter your password.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingConfirmPassword" name="confirmation" placeholder="Confirm Password" required>
                    <label for="floatingConfirmPassword">Confirm Password</label>
                    <div class="invalid-feedback">
                        Password does not match.
                    </div>
                </div>
                <div class="">
                    <button type="submit" class="btn btn-success px-5 py-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var modal = document.querySelectorAll('.needs-validated');
        var submitButton = modal.querySelector('button[type="submit"]');

        submitButton.addEventListener('click', function (event) {
            var form = modal.querySelector('form');
            var password = form.querySelector('#floatingPassword').value;
            var confirmPassword = form.querySelector('#floatingConfirmPassword').value;

            if (!form.checkValidity() || password !== confirmPassword) {
            event.preventDefault();
            event.stopPropagation();

            if (password !== confirmPassword) {
                form.querySelector('#floatingConfirmPassword').setCustomValidity('Passwords do not match');
            } else {
                form.querySelector('#floatingConfirmPassword').setCustomValidity('');
            }
            } else {
            form.submit();
            }

            form.classList.add('was-validated');
        });
    })()
</script>
{% endblock %}